/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: 0 auto;
}
/* /GENERAL */


/* HEADER */
header section.banner{
    background-color: rgb(229, 121, 230);
    height: 15vh;
    margin-bottom: 30px;
}

header section.immaginona{
    background-color: rgb(225, 214, 122);
    height: 35vh;
    margin-bottom: 30px;
}
/* /HEADER */


/* MAIN */

/* /MAIN */


/* FOOTER */

/* /FOOTER */

/* 
    Colori
    
    
    rgb(171, 207, 231);
    rgb(0, 135, 255);
    rgb(136, 1, 254);
*/