/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}
/* /GENERAL */


/* HEADER */
header section.banner{
    background-color: rgb(229, 121, 230);
    height: 15vh;
    margin-bottom: 30px;
}

header section.immaginona{
    background-color: rgb(225, 214, 122);
    height: 35vh;
    margin-bottom: 30px;
}
/* /HEADER */


/* MAIN */
main{
    height: 35vh;
    margin: 10px;
    background-color: rgb(0, 135, 255);
}

main section{
    background-color: rgb(171, 207, 231);
    margin-bottom: 10px;
}

main section.riga{
    height: 10vh;
}

main section.colonna{
    float: left;
    height: 30vh;
}

main section.colonna.laterale{
    width: 25%;
}

main section.colonna.centrale{
    width: calc(50% - 20px);
    margin: 0 10px;
}
/* /MAIN */


/* FOOTER */
footer{
    background-color: rgb(136, 1, 254);
}
/* /FOOTER */